

body {

	background-color: white;
	color: black;
}

.new-header {
	background-color: #222;


font-size: 28px;
font-weight: lighter;

}

.port-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 500;
	font-family: sans-serif;
	font-size: 22px;
	text-transform: uppercase;
}

.headname {
	font-weight: 300;
padding-right: 30%;
}

a {
	color: #FEFEFE;
	font
}

.port-nav {
	color: #FEFEFE;
}

/*#new-header {
background-color: #222;
height: 50px;
font-size: 34px;
font-weight: lighter;
padding-left: 25px;
color: #fff;

}
*/


.center {
  text-align: center;
}

#customer-container {
  background-color: white;
  width: 100%;
}

.customers img {
  padding: 25px 0;
  max-width: 300px;
  max-height: 266px;
}


#footer {
	background-color: #222;
	font-size: 18px;
	font-weight: lighter;
	color: white;
	width: 100%;
	padding: 15px;
	margin-bottom: 20px ;
	padding-left: 35px; 
}
/*
.spacer {

padding-right: 10px;
    width: 15px;
    background-color: #222
}
*/


/* Visited links under #nav-header */
#nav-header a, a:visited {
  text-decoration: none;
}

.intro-content {
	box-sizing: border-box;
	
	width: 100%;
	margin: 0 auto;
	padding:60px 20px;
	text-align: -webkit-center;
	display: table;
	background-color: lightgray;
	color: black;
}

.intro-style h1 {
	font-weight: 900;
	font-family: sans-serif;

}
.intro-style h2 {
font-family: sans-serif;
font-size: 27px;
font-weight: 300;
}




